
.userConfig {
  display: none;
  position: absolute;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 0.1s all ease;
  overflow: hidden;
  background: #3a3a3a;
  place-items: center;

  .displayInfo {
    display: flex;
    flex-direction: column;
    gap: .5em ;
    color: #fff;
    place-items: start;

    h2 {
      color: #DDCF1B;
    }
  }
  .exitImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 4vw;
    height: 4vw;

    img {
      padding: 5px;
      width: 100%;
      cursor: pointer;
      transition: 0.1s all ease;
      border-radius: 7px;
    }
    img:hover {
      transform: translate(-3px, -3px);
      background: #ce294e;
    }
  }

  .userInfoContainer {
    display: grid;
    width: 30vw;

  }
  .userInfo {
    display: grid;
    background: #1C1919;
    padding: 1em 0;
    gap: 1em;

    .userProfile {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;

      .changeImgBtn {
        background: #3A3A3A;
        color: #fff;
      }
    }

    img {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
    }
    .PrimaryButton button {
      width: 12vw;
      font-size: 1rem;
      background: #DDCF1B;
      color: #000;
      font-weight: bold;
      padding: .8em .5em;
    }
  }

  #editForm {
    display: grid;
    gap: 1.5em;

    .changeImgBtn {
      background: #3A3A3A;
      color: #fff;
    }

    label {
      display: grid;
      gap: 1em;
      color: #fff;
      place-items: start;
      padding-left: 15%;

      h2 {
        font-family: 'Lato';
      }

      input {
        background:#242628;
        border: none;
        padding: .5em;
        text-align: start;
        color:#fff;
      }
    }

    .formButtons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    
      .SecondaryButton button {
        color: #f2f2f2;
      }
      button {
        font-size: 1rem;
      }
    }
  }
}



.toggleUserConfig {
  display: grid !important;
}
.toggleEditForm {
  display: flex !important;
}
.toggleEditBtn {
  display: none;
}