@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin chat() {
  background: linear-gradient(#2A3340, #252A2F);
  position: absolute;
}

.Chat {
  z-index: 1;

  .PrimaryButton button {
    color: #000;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: .5em 2em;
    border: none;
    border-radius: 7px;
    width: 100%;
    background: #ddcf1b

  }
  .Chat-content, .Chat-messages {
    overflow: hidden;
  }
  .chat-wrapper {
    width: 80%;
    height: 100%;
    @include chat();
  }
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 8;
  display: flex;
  flex-direction: column;

  .Chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #FFF;

    .intro {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #1C1919;
      color: #B9B9B9;

      hgroup, .quotes {
        display: flex;
        
      }

      hgroup {
        gap: 5em;
        flex-direction: column;
        h2 {
          font-size: 4em;
          color: #DDCF1B;
          font-weight: bold;
          font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
        }

        h3 {
          font-size: 1.6em;
          font-weight: bold;
        }
      }

      .quotes {
        flex-direction: column;
        gap: 2em;
        blockquote {
          display: flex;
          flex-direction: row;
          gap: 1em;

          img {
            width: 50px;
            height: 50px;
          }

          .autor {
            color: #646468;
          }
          
          p {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1.5em;
            font-style: italic;
            color: #DDCF1B;
            margin-top: 2em;
          }
          
        }
      }

    }

    .Chat-messages {
      z-index: 8;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: .5em;
      overflow: auto;
    }
    .Chat-input-container {
      height: 10vh;
      z-index: 8;
      display: flex;
      align-items: center;
      background: #49494D;

      .Chat-input {
        flex: 9;
        display: flex;
        padding-left: 2em;
        margin: 1em;

        input {
          border-radius: 8px;
          width: 95%;
          text-align: start;
          padding: .5em;
          border: none;
          background: #F2F2F2;
          font-size: 15px;
          
        }
      }
      .Input-img-container {
        flex: 1;
        display: flex;
        .Input-img {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #fff;
        }
        .Input-img:hover {
          background: #e3e3e3;
        }
        img {
            height: 30px;
            width: 30px;
        }
      }
        textarea {
          padding-left: .5em;
          text-align: start;
          flex: 1;
          padding: .5em;
          font-size: 1rem;
          border-radius: 15px;
          border: none;
      }
      .Chat-inputBtn {
        padding: .5em;
        border-radius: 36px;
        letter-spacing: .5em;
        cursor: pointer;
      }

    }
  }
}

.dice {
  position: absolute;
  left: 80%;
  bottom: 10%;
  background: #B9B9B9;
  padding: .5em;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1em;
  display: none;
  opacity: 0;
  transform: translateY(5px);
  transition: all ease 100ms;
}

#number {
  font-size: 2rem;
}

.show-dice {
  transform: translateY(0px);
  opacity: 1;
}


@media(max-width: 600px) {
  .Chat {
    width: 100vw;
  }
  .Chat-input-container, .Chat-messages {
    width: 100vw !important ;
  }

}