@mixin chat() {
  background: linear-gradient(#2A3340, #252A2F);
  position: absolute;
}
@mixin chatWithSVG() {
  background-color: #2a3340;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2335484e' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}



.Chat {
  z-index: 1;
  max-height: 100vh;

  .PrimaryButton button {
    color: #000;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: .5em 2em;
    border: none;
    border-radius: 7px;
    width: 100%;
    background: #ddcf1b

  }
  .Chat-content, .Chat-messages {
    overflow: hidden;
  }
  .chat-wrapper {
    width: 80%;
    height: 100%;
    @include chat();
  }
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
  flex: 8;
  display: flex;
  flex-direction: column;

  .Chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #FFF;

    .intro {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #1C1919;
      color: #B9B9B9;

      hgroup, .quotes {
        display: flex;
        
      }

      hgroup {
        gap: 5em;
        flex-direction: column;
        h2 {
          font-size: 4em;
          color: #DDCF1B;
          font-weight: bold;
          font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
        }

        h3 {
          font-size: 1.6em;
          font-weight: bold;
        }
      }

      .quotes {
        flex-direction: column;
        gap: 2em;
        blockquote {
          display: flex;
          flex-direction: row;
          gap: 1em;

          img {
            width: 50px;
            height: 50px;
          }

          .autor {
            color: #646468;
          }
          
          p {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1.5em;
            font-style: italic;
            color: #DDCF1B;
            margin-top: 2em;
          }
          
        }
      }

    }

    .Chat-messages {
      z-index: 8;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: .5em;
      overflow: auto;
    }
    .Chat-input-container {
      height: 10vh;
      z-index: 8;
      display: flex;
      align-items: center;
      background: #49494D;

      .Chat-input {
        flex: 9;
        display: flex;
        padding-left: 2em;
        margin: 1em;

        input {
          border-radius: 8px;
          width: 95%;
          text-align: start;
          padding: .5em;
          border: none;
          background: #F2F2F2;
          font-size: 15px;
          color: #000;
          
        }
      }
      .Input-img-container {
        flex: 1;
        display: flex;
        .Input-img {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #fff;
        }
        .Input-img:hover {
          background: #e3e3e3;
        }
        img {
            height: 30px;
            width: 30px;
        }
      }
        textarea {
          padding-left: .5em;
          text-align: start;
          flex: 1;
          padding: .5em;
          font-size: 1rem;
          border-radius: 15px;
          border: none;
      }
      .Chat-inputBtn {
        padding: .5em;
        border-radius: 36px;
        letter-spacing: .5em;
        cursor: pointer;
      }

    }
  }
}

.dice {
  position: absolute;
  left: 80%;
  bottom: 10%;
  background: #B9B9B9;
  padding: .5em;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1em;
  display: none;
  opacity: 0;
  transform: translateY(5px);
  transition: all ease 100ms;
}

#number {
  font-size: 2rem;
}

.show-dice {
  transform: translateY(0px);
  opacity: 1;
}
