* {
  text-align: center;
}
textarea {
  resize: none;
}
.App {
  height: 100vh;
  display: flex;
}
.App-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}