$semi-black: #393d42;
$black: #1C1919;
$full-black: #050505;
$yellow: #DDCF1B;
$dark-yellow: #ddd01bdc;
$header-font-size: 1.5rem;
$white: #fff;
$gray: #A8A8A8;
$success: mediumspringgreen;
$blue: #0f3050;
$bright-blue: #105599;
$padding: 1em 1.2em;


* {
  text-align: center;
}
textarea {
  resize: none;
}
.App {
  height: 100vh;
  display: flex;
}
.App-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}