@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Main {
  display: flex;
  flex: 1;
  font-family: 'Roboto', Geneva, Tahoma, sans-serif;
  // margin-top: .5em;
  overflow: auto;
  h1, h2, h3, h4, h5 {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  }

  .Main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

}

a:link, a:active, a:visited {
  color: #DDCF1B;
}

input {
  border: 1px solid #000;
  transition: all 0.1s ease;
  background: #393d42;
  padding: .5em;
  text-align: start;
  color: #fff;
}

input, .quotes, #errorMsg{
  font-weight: bold;
}

.show-chat {
  .Chat {
    display: flex !important;
  }

  #contacts {
    display: none;
  }

}
@media(max-width: 768px) {
  .Main {

    .show-chat .ChatHeader {
      .return {
        display: flex !important;
      }
    }
  

    .Chat {
      width: 100vw;
      display: none;

      .Chat-messages {
        padding: 0 !important;
      }

      .Chat-content {
        height: 100%;
      }
    
      .chat-wrapper {
        width: 100% !important;
      }
    
      .Chat-input-container, .Chat-messages {
        width: 100vw !important ;
      }
    
      .Chat-input {
        padding: 0 !important;
      }
    
      .Input-img-container {
        margin-right: .5em;
      }

    }

    .ChatHeader {
      .return {
        display: none;
      }
    }

    .Contacts-content {
      max-width: none !important;

    }

    .userCfgPanel {
      width: 100vw;
      bottom: 80.3vh;
      left: 0;
    }

    .Contact {
      padding: 1em 0;
      .Contact-avatar {
        flex: 0;
        padding: .5em;
      }
    }

    .Login {
      flex-direction: column;

      .Login-img {
        width: 100%;

      }

      .Login-form {
        gap: 2em !important;
      }

      .Login-form-container {
        flex: 1;
        width: 100%;
        background: #111213;
      }

      .links {
        gap: 2em;
      }
    }

    .Message {
      max-width: 65%;
    }

    .Register {
      form {
        margin: 0;
        width: 100% !important;
      }
    
      input {
        width: 80% !important;
      }
    }

  }
}
