.Main {
  display: flex;
  flex: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // margin-top: .5em;

  h1, h2, h3, h4, h5 {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  }

 .Main-content {
   flex: 1;
   display: flex;
   flex-direction: row;
 }

}

a:link, a:active, a:visited {
  color: #DDCF1B;
}

input {
  background: #242628;
}


.show-chat {
  #chat {
    display: block;
  }

  #contacts {
    display: none;
  }

}
@media(max-width: 768px) {
}
