
.Main {
  display: flex;
  flex: 1;
  font-family: "Poppins", Geneva, Tahoma, sans-serif;
  font-weight: 400;
  overflow: auto;
  // margin-top: .5em;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  }

  .Main-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: #1c1919
  }
}

a:link,
a:active,
a:visited {
  color: #ddcf1b;
}

input {
  border: 1px solid #000;
  transition: all 0.1s ease;
  background: #393d42;
  padding: 0.5em;
  text-align: start;
  color: #fff;
  height: 18px;
  padding: 8px;
  background-color: #242628;
  width: 80%;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px !important;
}

input,
.quotes,
#errorMsg {
  font-weight: bold;
}

.show-chat {
  .Chat {
    display: flex !important;
  }

  #contacts {
    display: none;
  }
}
@media (max-width: 768px) {
  .Main {

    .Main-content {
      width: 70vw;
      justify-content: center;
      min-width: 350px;
    }
    .show-chat .ChatHeader {
      .return {
        display: flex !important;
      }
    }

    .Chat {
      width: 100vw;
      display: none;

      .Chat-messages {
        padding: 0 !important;
      }

      .Chat-content {
        height: 100%;
      }

      .chat-wrapper {
        width: 100% !important;
      }

      .Chat-input-container,
      .Chat-messages {
        width: 100vw !important ;
      }

      .Chat-input {
        padding: 0 !important;
      }

      .Input-img-container {
        margin-right: 0.5em;
      }
    }

    .ChatHeader {
      .return {
        display: none;
      }
      grid-template-columns: repeat(3, auto) 1fr !important;
    }

    .Contacts-content {
      max-width: none !important;
    }

    .userCfgPanel {
      width: 100vw;
      left: 0;
    }

    .userInfoContainer {
      // display: grid;
      // width: 100vw !important;
      // height: 90vh !important;

      .closed .userProfile {
        justify-content: space-between !important;
      }
    }

    .Contact {
      padding: 1em 0;
      .Contact-avatar {
        flex: 0;
        padding: 0.5em;
      }
    }

    .Login {
      flex-direction: column;
      width: 70vw;

      .Login-img {
        width: 100%;
        height: 20%;
      }

      .Login-form {
        gap: 2em !important;
      }

      .Login-form-container {
        flex: 1;
        width: 100%;
        background: #111213;
      }

      .links {
        gap: 2em;
      }
    }

    .Message {
      max-width: 65%;
    }

  }
}
