.Contact {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #3A3A3A;
  padding: .5em 0;
  width: 100%;
  .Contact-avatar {
    flex: 0.9;
    display: grid;
    justify-content: center;
    padding: 0 .2em;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid #242628;
    }
    // img {
    //   width: 50px;
    // }
  }

  .Contact-name {
    display: grid;
    align-items: center;
    justify-content: start;
    flex: 3;
    font-family: 'Roboto', Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;

    span {
      padding-left: .5em;
      color: #FFF;
    }

  }

  .alternative-img {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;

    img {
      background: #e3e3e3;
    }
  }
}
.Contact:hover {
  background: #49494D;
  cursor: pointer;
}

.Contact:last-child {
  border: none;
}

.online {
  img {
    border: #49FF9D 2px solid !important;
  }
}
@media (max-width: 768px) {
 
}