.Contact {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #3a3a3a;
  padding: 0.5em 0;
  width: 100%;
  .Contact-avatar {
    flex: 0.9;
    display: grid;
    justify-content: center;
    padding: 0 0.2em;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid transparent;
    }
  }

  .Contact-name {
    display: grid;
    align-items: center;
    justify-content: start;
    flex: 3;
    font-family: "Roboto", Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;

    span {
      padding-left: 0.5em;
      color: #fff;
      text-align: start;
    }
  }

  .alternative-img {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;

    img {
      background: #e3e3e3;
    }
  }
}
.Contact:hover {
  background: #49494d;
  cursor: pointer;
}

.Contact:last-child {
  border: none;
}

.online {
  img {
    border: #49ff9d 2px solid !important;
  }
}
@media (max-width: 768px) {
}
