$ligth-blue: rgba(163, 164, 227, 0.1);

.ChatHeader {
  display: flex;
  align-items: center;
  background: #49494D;
  flex-direction: column;
  z-index: 8;
  height: 10%;
  min-height: 66px;
  justify-content: space-evenly;


  .receiver-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
    transition: background 100ms ease;

    img {
      height: 25px;
      width: 25px;
      transform: rotate(90deg);
      margin: 0 3px 0 0;

    }
  }

  .return-clicked {
    background: $ligth-blue;
  }

}
