$black: #242628;
$yellow: #DDCF1B;
$header-font-size: 2rem;
$white: #fff;
$gray: #A8A8A8;

.Register {
  background: #1c1c1c;
  flex: 1;
  display: grid;
  overflow: auto;
  place-items: center;

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 2em;
  }

  h2 {
    color: #fff !important;
    text-align: start;
  }
  .background-title {
    width: 100%;
    position: absolute;
    top: 15%;
    
    h2 {
      text-align: start;
      opacity: 0.2;
      color: #fff;
      font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
      font-size: 150px;
      font-weight: normal;
      letter-spacing: 45px;
      text-align: start;
    }

  }

  header {
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid #fff;
  }

  main {
    display: flex;
    align-items: center;

    p {
      color: #fff;
    }

  }


  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background: $black;
    color: $white;
    width: 100%;


  }


  form {
    display: grid;
    gap: .8em;
    background: #111213;
    padding: .8em;
  }

  input {
    background: $black;
    border: none;
    padding: .5em;
    text-align: start;
    color: $white;
    margin-bottom: .5em;
    border: 1px solid #111213;
    width: calc(100% - 1em);
  }

  // .stepBalls {
  //   margin-top: 50px;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: row;
  //   flex: 1;


  //   #ball1, #ball2 {
  //     width: 15px;
  //     height: 15px;
  //     border-radius: 50%;

  //   }
  //   #ball1 {
  //     margin-right: 10px;
  //   }

  // }
  // .stepOne {
  //   #ball1 {
  //     background: white;
  //   }
  //   #ball2 {
  //     background: $gray;
  //   }
  // }

  // .stepTwo {
  //   #ball2 {
  //     background: #fff;
  //   }
  //   #ball1 {
  //     background: $gray;
  //   }
  // }

  .PrimaryButton button {
    background: $yellow;
    color: black;
    padding: .5em .3em;
    border-radius: 7px;
    font-size: 16px;
  }

  .SecondaryButton {
    padding: 0 !important;
    border-radius: 7px;

    button {
      border: 1px solid #fff;
      width: 200px;
      color: #fff;
      font-size: 18px;
      border-radius: 7px;
      padding: .5em .2em;
    }
  }

  .imageContainer {
    display: flex;
  }

  #userImage {
    background: url('https://www.hogar.mapfre.es/media/2018/08/que_son_los_nudos_en_la_madera-1280x720.jpg');
    width: 100px;
    height: 100px;
  }

  .changeImgBtn {
    background-color: #3A3A3A !important;
    color: #fff !important;
    width: 170px !important;
    padding: .9em !important;
    font-weight: 400;
  }
}
