@use "../App/App.scss" as var;
$black: #242628;
$yellow: #ddcf1b;
$header-font-size: 2rem;
$white: #fff;
$gray: #a8a8a8;

.Register {
  background: var.$full-black;
  flex: 1;
  display: grid;
  overflow: auto;
  place-items: center;

  .RegisterForm {
    min-width: 350px;
  }

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 2em;
  }

  label {
    display: grid;
    color: #fff !important;
    text-align: start;
    font-weight: normal;
  }
  .background-title {
    width: 100%;
    position: absolute;
    top: 15%;
  }

  header {
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid #fff;
  }

  main {
    display: flex;
    align-items: center;

    p {
      color: #fff;
    }
  }

  form {

    gap: 1.5em;

    section {
      margin-bottom: 4vh;
    }

    h2 {
      text-align: start;
      font-size: 1rem;
      margin-bottom: var.$h2-font-unit;
    }

    input {
      font-family: inherit;
      transition: all 0.1s ease;
      width: 100%;

      border: 1px solid #000;
      padding: 1em 1.2em;
      border-radius: 35px;
      border: 3px solid var.$blue;

      text-align: start;
      font-size: 1rem;
      color: $white;
      font-weight: normal;
    }
  }

  #logIn button {
    font-weight: normal !important;
  }

  #userImage {
    background: url("https://www.hogar.mapfre.es/media/2018/08/que_son_los_nudos_en_la_madera-1280x720.jpg");
    width: 100px;
    height: 100px;
  }
}
