$semi-black: #393d42;
$black: #1C1919;
$yellow: #DDCF1B;
$header-font-size: 1.5rem;
$white: #fff;
$gray: #A8A8A8;

.Login {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #fff;

}
.Login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background: $black;
  
  h2 {
    display: grid;
    height: 20%;
    font-size: $header-font-size;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Login-form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: start;

    p {
      width: 85%;
      margin: auto;
      margin-bottom: 2vh;
      font-weight: 700;
      font-size: 14px;
      font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
      text-align: start;
    }

    label {
      width: 100%;
    }
    input {
      border: 1px solid #000 ;
      transition: all 0.1s ease;
      background: $semi-black;
      width: 80%;
      padding:.5em;
      text-align: start;
      color: $white;
    }
    .PrimaryButton button {
      background: $yellow;
      color: $black;
      width: 85%;
      padding: .5em;
    }
  }

}
.focusedInput {
  border: 1px solid #DDCF1B !important;
}
.Login-img {
  width: 80%;
  // background: url('./resources/locro.jpg');
}

.links {
  display: flex;
  flex-direction: column;
  gap: .5em;

  #link button {
    color: $gray;
    font-size: 1rem;
  }

  #link button:hover {
    color: $white;
  }
 
}




@media(max-width: 768px) {
  .Login {
    flex-direction: column;

    .Login-img {
      width: 100%;

    }

    .Login-form-container {
      flex: 1;
      width: 100%;
      background: #111213;
    }

    .links {
      gap: 2em;
    }
  }
}