$semi-black: #393d42;
$black: #1C1919;
$yellow: #DDCF1B;
$header-font-size: 1.5rem;
$white: #fff;
$gray: #A8A8A8;

.Login {
  width: 100%;
  display: flex;
  flex-direction: row;
  // display: grid;
  // grid-template-columns: minmax(250px, 70%) 1fr;
  color: #fff;

}
.Login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background: $black;

  h1 {
    font-size: $header-font-size;
  }
  h2 {
    display: grid;
    height: 20%;
    text-align: start;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-bottom: 2vh;
    font-size: 14px;
  }

  .Login-form {
    // display: flex;
    // flex-direction: column;
    display: grid;
    gap: 3em;
    place-items: center;

    p {

      font-weight: 700;
      font-size: 14px;
      font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    }

    label {
      width: 100%;
    }
    input {
      transition: all 0.1s ease;
      width: 80%;
      padding:.5em;
      
      border: 1px solid #000 ;
      background: $semi-black;
      color: $white;
      text-align: start;
      font-size: 14px;
      font-weight: 400;
    }
    .PrimaryButton button {
      background: $yellow;
      color: $black;
      width: 85%;
      padding: .5em;
      font-weight: 600;
      font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    }
  }

}
.focusedInput {
  border: 1px solid #DDCF1B !important;
}
.Login-img {
  width: 80%;
  // background: url('./resources/locro.jpg');
}

.links {
  display: flex;
  flex-direction: column;
  gap: .5em;

  #link button {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
  }

  #link button:hover {
    color: $white;
  }
 
}