$semi-black: #353030;
$black: #1C1919;
$yellow: #DDCF1B;
$header-font-size: 2rem;
$white: #fff;
$gray: #A8A8A8;

.Login {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #fff;

}
.Login-form-container {
  width: 20%;
  background: $black;
  
  h2 {
    display: grid;
    height: 20%;
    font-size: $header-font-size;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Login-form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    height: 100%;
    align-items: center;
    justify-content: start;

    label {
      width: 100%;
    }
    input {
      background: $semi-black;
      border: none;
      width: 80%;
      padding: .5em;
      text-align: start;
      color: $white;
    }
    .PrimaryButton button {
      background: $yellow;
      color: $black;
    }
  }

}

.Login-img {
  width: 80%;
  // background: url('./resources/locro.jpg');
}

#errorMsg {


}

.links {
  display: flex;
  flex-direction: column;
  gap: .5em;

  a {
  text-decoration: none;
  }

  span {
    color: $gray;

  }
}