$semi-black: #393d42;
$black: #1C1919;
$full-black: #050505;
$yellow: #DDCF1B;
$dark-yellow: #ddd01bdc;
$header-font-size: 1.5rem;
$white: #fff;
$gray: #A8A8A8;
$success: mediumspringgreen;
$blue: #0f3050;
$bright-blue: #105599;
$contacts-background: #050505;



.Contacts {
  z-index: 1;
  color: #000;
  flex: 2;
  display: flex;
  flex-direction: column;
  .Contacts-content {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    background: $contacts-background;
    
    .contacts-wrapper {
      display: flex;
      flex-direction: column;
      overflow-x: hidden !important;
      gap: 5px;
      max-width: 20vw;
      flex: 9;
      display: flex;
      min-width: 270px;
    }
    // justify-content: bet;
    // For administrate the white spaces
    // justify-content: space-evenly;

    .notContactsFound {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1.5em;
        color: #666;
        opacity: 0.6;
        padding: 0.5em;
        font-weight: bold;
        font-size: 1.6em;
        line-height: 1.6em;
      }
    }
  }
}

.Profile {
  display: flex;
  justify-content: space-between !important;
  background: hsl(0, 0%, 0%);

  .Profile-img,
  .Profile-actions {
    padding: 0.5em;
  }
  .Profile-img {
    display: flex;
    align-items: center;
  }
  .Profile-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .Profile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 33%;
  }
  .Action {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Action-img {
    fill: #ddcf1b;
    width: 20px;
    cursor: pointer;
  }
}
.chat-room {
  display: grid;
  grid-template-columns: 1fr 33%;
  place-items: center start;
  font-size: 1rem;
  gap: 2em;
  color: gray;
  border-bottom: 2px solid gray;
  margin-bottom: .5em;
  
  span {
    text-align: start;
    padding-left: 0.5em;
  }

  .image-wrapper {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;
  }

  img {
    width: 20px;
    height: 20px;
    padding: 1em;

    &:hover {
      border-radius: 50%;
    }
  }
}
#contacts-display {
  display: none;
  flex-direction: column;
}

#userCfg {
  transition: all ease 0.3s;
}

.rotate {
  transition: all ease 0.3s;
  transform: rotate(-90deg);
}
.userCfgPanel {
  display: none;
  place-items: start;
  width: 15vw;
  gap: 5px;
  position: absolute;
  z-index: 8;
  left: 52px;
  top: 66px;
  grid-template-areas:
    "state"
    "userConfig"
    "logOut";
  font-size: 14px;
  opacity: 0;
  transition: 0.1s all ease;
  transform: translateY(-10px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  .SecondaryButton {
    padding: 0.5em 0 !important;
  }
  button {
    font-size: 14px !important;
    color: #fff;
    font-weight: 800;
  }
  .panelOption {
    font-size: 1rem;
    margin: 0 1em;
  }

  .config {
    grid-area: userConfig;

    button {
      color: #fff !important;
    }
  }

  .logOut {
    grid-area: logOut;
    button {
      // color: #da2d56;
      color: #ddcf1b;
      font-weight: bold;
    }
  }
}
.display {
  // transition: 0.1s all ease;
  transform: translateY(0);
  opacity: 1;
}

.alt-user-img {
  padding: 0.15em;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  background-color: #1B1B1B;
}

.nav-icon {
  display: grid;
  place-items: center;
  background-color: $semi-black;
  width: 55px;
  height: 55px;
  color: #e3e3e3;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 200ms;
  border-radius: 14px;

  
}

.nav-icon:hover {
  border-radius: 50%;
}

.shutdown:hover {
  background-color: crimson;
}

.config:hover {
  background-color: $blue;
}



#flagAnimation {
  animation: flag infinite ease-in-out 2s;
}

#flag1, #flag2, #flag3, #flag4 {
  animation: fly infinite ease-in-out 250ms;
  transform: translate(0);
  transition: 2s all ease;
}

#flag2 {
  animation-delay: 250ms;
}
#flag3 {
  animation-delay: 500ms;
}
#flag4 {
  animation-delay: 750ms;
}

@keyframes flag {
  0% {
    color: red;
  }
  25% {
    color: crimson;
  }
  50% {
    color: cyan;
  }
  75% {
    color: greenyellow;
  }
  100% {
    color: red;
  }
}

@keyframes fly {
  from {
    background: black;
  } to {
    background: rgb(37, 37, 37);
  }
}