
.Contacts {
  z-index: 1;
  background: #f0f0f0;
  color: #000;
  flex: 2;
  display: flex;
  flex-direction: column;
  .Contacts-content {
    max-width: 20vw;
    overflow: auto;
    flex: 9;
    display: flex;
    flex-direction: column;
    background: #242628;
    // For administrate the white spaces
    // justify-content: space-evenly;

    .notContactsFound {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;

      span {
        font-size: 1.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #666;
        opacity: 0.6;
        padding: .5em;
        font-weight: bold;
        font-size: 1.6em;
        line-height: 1.6em;
      }
    }
  }
}

.Profile {
  display: flex;
  justify-content: space-between !important;
  background: #1c1c1c;

  .Profile-img, .Profile-actions {
    padding: .5em;
  }
  .Profile-img {
    display: flex;
    align-items: center;
  }
  .Profile-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .Profile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 33%;
  }
  .Action {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .Action-img {
    fill: #DDCF1B;
    width: 20px;
    cursor: pointer;
  }
}
.chat-room {
  display: grid;
  grid-template-columns: 1fr 33%;
  place-items: center start;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  gap: 2em;

  color: #DDCF1B;
  background: #1c1c1c;

  span {
    text-align: start;
    padding-left: .5em;
  }

  .image-wrapper {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;

  }

  img {
    width: 20px;
    height: 20px;
    padding: 1em;

    &:hover {
      background: #48484b;
      border-radius: 50%;
    }
  }

}
#contacts-display {
  display: none;
  flex-direction: column;

}

#userCfg {
  transition: all ease 0.3s;
}

.rotate {
  transition: all ease 0.3s;
  transform: rotate(-90deg);
}
.userCfgPanel {
  display: none;
  place-items: start;
  width: 15vw;
  gap: 5px;
  position: absolute;
  z-index: 8;
  left: 52px;
  top: 66px;
  grid-template-areas: "state"
                       "userConfig"
                       "logOut";
  font-size: 20px;
  background: #49494D;
  opacity: 0;
  transition: 0.1s all ease;
  transform: translateY(-10px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  .SecondaryButton {
    padding: .5em 0 !important;
  }
  button {
    font-size: 1rem;
    color: #fff;
  }
  .panelOption {
    font-size: 1rem;
    margin-right: 1em;
  }

  .userConfigPanel {
    grid-area: userConfig;
  }

  .logOut {
    grid-area: logOut;
    button {
      // color: #da2d56;
      color: #DDCF1B;
      font-weight: bold;
    }
  }
}
.display {
  // transition: 0.1s all ease;
  transform: translateY(0);
  opacity: 1;
}