@use '../App/App.scss' as var;
$msgBackground: #f1f1f1;

.Message-wrapper {
  // padding: .5em 0;
  margin-left: 1em;

}

.Message {
  font-size: 15px;
  align-items: start;
  color: white;
  border-radius: 1rem;
  padding: .8em;

  .Message-content {
    padding: .7em;
    text-align: center;
    word-break: break-word;

    p {
      text-align: start;
    }
  }
}

.Message-owner {
  display: flex;
  width: auto;
  height: 1rem;

  h3 {
    color: #e33;
  }
}
.dice-roll {
  display: grid;
  place-items: center;
  font-weight: bold;
  background: crimson;
  border-radius: 50%;
  color: black;

  .Message-owner {
    margin-bottom: .5em;
    display: flex;
    width: 150px;
  }

  .Message-content {
    text-align: start;
    word-break: break-all;
    padding: 1em 1.6em;
    border-radius: 7px;

  }
}

.user-image {
  width: 65px;
  height: 65px;
  color: bisque;
}
