@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.Message-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  padding: .5em 0;

}
.Message-wrapper:last-child {
  padding: .5em 0 1em 0;
}
.Switch {
  background: #A0E850 !important;
  margin: 0 2em 0 0 !important;
}
.Message {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: black;
  // max-width: 30%;
  border-radius: 15px;
  margin-left: 2em;
  background: #fff;
  padding: .8em;

  p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .Message-owner {
    font-weight: bold !important;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  .Message-content {
    padding: .5em .5em .5em 0;
    text-align: start;
    word-break: break-all;
  }
}

.dice-roll {
  font-size: 3rem;
  background: #f2f2f2;
  border-radius: 7px;
  font-style: italic;
}
@media (max-width: 600px) {
  .Message {
    max-width: 65%;
  }
}