@use '../App/App.scss' as var;
$msgBackground: #f1f1f1;

.Message-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: .5em 0;

}
.Message-wrapper:last-child {
  padding: .5em 0 1em 0;
}
.Switch {
  margin: 0 2em 0 0 !important;
  background:var.$blue !important;
  color: #fafafa !important;
}
.Message {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var.$full-black;
  border-radius: 1rem;
  margin-left: 2em;
  background: #f0f0f0;
  padding: .8em;

  .Message-owner {
    font-weight: bold !important;
  }

  .Message-content {
    padding: .7em;
    text-align: center;
    word-break: break-word;

    p {
      text-align: start;
    }
  }
}

.dice-roll {
  display: grid;
  place-items: center;
  font-weight: bold;
  background: crimson;
  border-radius: 50%;
  color: black;

  .Message-owner {
    margin-bottom: .5em;

  }

  .Message-content {
    text-align: start;
    word-break: break-all;
    padding: 1em 1.6em;
    border-radius: 7px;

  }
}
